# default index pages
DirectoryIndex index.html index.php

ErrorDocument 404 /errors/404.php

RewriteEngine on
RewriteRule .* - [E=Cache-Control:no-cache]

RemoveHandler .py
AddType text/x-python .py

# remove `www.`
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://starcraft2coop.com/$1 [R=302,L]

# Serve /account with 410 Gone
<If "%{REQUEST_URI} =~ m#^/account(\.html)?$#">
    ErrorDocument 410 /account.html
</If>
# NO space after "!=" below
RewriteCond %{ENV:REDIRECT_STATUS} !=410
RewriteRule ^account(\.html)?$ - [G,L]

# Extensionless URLs - prefer .html, fall back to .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Permanent Redirects for link shortening and Youtube links
# Redirect 301 /mutators /resources/mutators
Redirect 301 /weeklymutations /resources/weeklymutations
Redirect 301 /rockslappingchampions /community/rockslappingchampions
Redirect 301 /gamespotlight /community/gamespotlight
Redirect 301 /mythbusters /community/mythbusters

# rename tournament/main to tournament/signup 11-apr-2026
Redirect 301 /community/tournament/main /community/tournament/signup

# 19-apr-2020 menu reorganization
Redirect 301 /newplayer /guides/newplayer
Redirect 301 /resources/links /about/links
Redirect 301 /resources/downloads /tools/downloads
Redirect 301 /tournament /community/tournament
Redirect 301 /faq /about/faq
Redirect 301 /contact /about/contact

# 28-mar-2026 menu reorganization
Redirect 302 /resources/stats /about/stats

# 02-aug-2026 human-ish ids for mutators
Redirect 302 /mutators/afraidofthedark /mutators/afraid-of-the-dark
Redirect 302 /mutators/aggressivedeployment /mutators/aggressive-deployment
Redirect 302 /mutators/alienincubation /mutators/alien-incubation
Redirect 302 /mutators/blackdeath /mutators/black-death
Redirect 302 /mutators/boombots /mutators/boom-bots
Redirect 302 /mutators/chaosstudios /mutators/chaos-studios
Redirect 302 /mutators/concussiveattacks /mutators/concussive-attacks
Redirect 302 /mutators/doubleedged /mutators/double-edged
Redirect 302 /mutators/eminentdomain /mutators/eminent-domain
Redirect 302 /mutators/evasivemaneuvers /mutators/evasive-maneuvers
Redirect 302 /mutators/fatalattraction /mutators/fatal-attraction
Redirect 302 /mutators/giftexchange /mutators/gift-exchange
Redirect 302 /mutators/goingnuclear /mutators/going-nuclear
Redirect 302 /mutators/hardenedwill /mutators/hardened-will
Redirect 302 /mutators/heroesfromthestorm /mutators/heroes-from-the-storm
Redirect 302 /mutators/justdie /mutators/just-die
Redirect 302 /mutators/killbots /mutators/kill-bots
Redirect 302 /mutators/laserdrill /mutators/laser-drill
Redirect 302 /mutators/lavaburst /mutators/lava-burst
Redirect 302 /mutators/lifeleech /mutators/life-leech
Redirect 302 /mutators/longrange /mutators/long-range
Redirect 302 /mutators/luckyenvelopes /mutators/lucky-envelopes
Redirect 302 /mutators/magnificent /mutators/mag-nificent
Redirect 302 /mutators/microtransactions /mutators/micro-transactions
Redirect 302 /mutators/mineralshields /mutators/mineral-shields
Redirect 302 /mutators/missilecommand /mutators/missile-command
Redirect 302 /mutators/momentofsilence /mutators/moment-of-silence
Redirect 302 /mutators/mutuallyassureddestruction /mutators/mutually-assured-destruction
Redirect 302 /mutators/naughtylist /mutators/naughty-list
Redirect 302 /mutators/orbitalstrike /mutators/orbital-strike
Redirect 302 /mutators/photonoverload /mutators/photon-overload
Redirect 302 /mutators/poweroverwhelming /mutators/power-overwhelming
Redirect 302 /mutators/purifierbeam /mutators/purifier-beam
Redirect 302 /mutators/scorchedearth /mutators/scorched-earth
Redirect 302 /mutators/selfdestruction /mutators/self-destruction
Redirect 302 /mutators/sharingiscaring /mutators/sharing-is-caring
Redirect 302 /mutators/slimpickings /mutators/slim-pickings
Redirect 302 /mutators/speedfreaks /mutators/speed-freaks
Redirect 302 /mutators/temporalfield /mutators/temporal-field
Redirect 302 /mutators/timewarp /mutators/time-warp
Redirect 302 /mutators/trickortreat /mutators/trick-or-treat
Redirect 302 /mutators/turkeyshoot /mutators/turkey-shoot
Redirect 302 /mutators/voidreanimators /mutators/void-reanimators
Redirect 302 /mutators/voidrifts /mutators/void-rifts
Redirect 302 /mutators/walkinginfested /mutators/walking-infested
Redirect 302 /mutators/wemoveunseen /mutators/we-move-unseen

# we probably don't need hotlink protection; server can handle hotlinking

# RewriteCond %{HTTP_REFERER} !^$
# RewriteCond %{HTTP_REFERER} !^http://sc2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://sc2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://sc2coop.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://sc2coop.starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.sc2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.sc2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.sc2coop.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.sc2coop.starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://sc2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://sc2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://sc2coop.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://sc2coop.starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.sc2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.sc2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.sc2coop.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.sc2coop.starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.starcraft2coop.com$      [NC]
# RewriteRule .*\.(jpg|gif|png)$ http://starcraft2coop.com/images/hotlink.bmp [R,NC]
#
