.adsbygoogle:not(:empty) ~ .banner {
  display:none;
}
.bannerContainer{
    margin:50px 0 0 0;
}
.banner img{
    width:720px;
}
body {
    font-family: 'Convergence', sans-serif;
    background:rgb(10, 13, 33);
    color: white;
    font-size: 1em;

    background-image: linear-gradient(rgb(30, 37, 91), rgb(10, 13, 33));
    background-attachment: fixed;
}

#topmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.3em;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 700px){
    #container{
        min-height:15px;
    }
    #content table{
        font-size:0.75em;
    }
    #content img{
        max-width:100%;
    }
    #content iframe{
        max-width:100%;
        height:auto;
    }
    .tableContainer{
        overflow:scroll;
    }
    p {
     font-size: 1.25rem;
   }
}
.grecaptcha-badge {
    visibility: hidden;
}
#captchaTOS{
    font-size:0.6em;
}
#header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
    max-width: 950px;
}
#menu{
    text-align:center;
    max-width:1150px;
    margin:auto;
}
#menu a{
    text-decoration: none;
    color: white;
}
#topmenu a {
    display: block;
    background: rgba(10, 13, 33, 0.5);
    border: 1px solid rgb(51, 61, 127);
    padding: 10px 16px 0 16px;
    margin: 0 0 -1px -1px;
    height: 36px;
}
#topmenu a:hover {
    background: rgb(10, 13, 33);
    border-color: rgb(103, 112, 169);
    position: relative;
}
#topmenu a.open {
    background: rgb(10, 13, 33);
    border: 1px solid rgb(103, 112, 169);
    margin: -2px 0 -2px -1px;
    height: 39px;
    border-bottom-width: 0;
    position: relative;
    z-index: 1;
}
@media (max-width: 800px) {
    #topmenu {
        font-size: 1em;
    }
    #topmenu a {
        height: 30px;
    }
    #topmenu a.open {
        height: 33px;
    }
}
@media (max-width: 700px) {
    #topmenu a {
        padding-left: 8px;
        padding-right: 8px;
    }
}

#content{
    color:white;
    font-family: 'Convergence', sans-serif;
    max-width:950px;
    margin-top:100px;
    margin-right:auto;
    margin-left:auto;
}
.submenu{
    display:none;
}
#menu .submenu {
    background: rgb(10, 13, 33);
    border: 1px solid rgb(103, 112, 169);
    padding: 10px 0;
    position: relative;
}
#menu .submenu ul{
    text-decoration: none;
    color:white;
    font-family: 'Convergence', sans-serif;
    font-size:0.85em;
}
#commanderList img{
    margin-left:2px;
    margin-right:2px;
    border-radius:50%;
    border: 1px solid transparent;
}
#missionList img{
    border: 1px solid transparent;
}
#menu .submenu ul{
    list-style-type: none;
    padding: 0;
    display:inline;
    color:white;
    line-height:1.6;
}
#menu .submenu li{
    display:inline;
    margin-left:16px;
    margin-right:4px;
}
#menu .highlight a {
    color:rgb(219, 150, 32);
}
#menu a:hover img {
    border-color: rgb(255, 255, 255);
}
#menu a.highlight img {
    border-color: rgb(219, 150, 32);
}
#menu .submenu a:hover {
    text-decoration: underline;
}
.submenu-with-sections {
    width: fit-content;
    margin: 0 auto;
}
.submenu-section strong {
    color: #999;
}
.submenu-section {
    text-align: left;
    padding: 7px 15px 7px 15px;
}
#footer{
    font-style:italic;
    font-size:0.66em;
    margin-top:100px;
    color:white;
    font-family: 'Convergence', sans-serif;
    margin-left:50px;
    margin-right:50px;
}
#imgs{
    margin-top:40px;
    text-align:center;
}
#imgs img{
    margin: 0 10px 0 10px;
}
#content table{
    color:inherit;
    border-collapse:collapse;
}


th,td{
    border:1px solid #999;
    padding:5px;
}
#content a{
    color: yellow;
}
#content a:visited{
    color:orange;
}
#content h1{
    text-align:center;
}
#content h1,h2,h3{
    margin-top:50px;
}
#links{
    line-height:0;
    font-size:0.75em;
}
#content #reportClick{
    text-decoration:underline;
    color: red;
    cursor:pointer;
    font-size:0.75em;
}
#content #errorReport{
    background-color: khaki;
    color: black;
    font-size: 0.8em;
    display: none;
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
}
#content #errorReport a{
    color:red;
}
#content #countp{
    color:#555555;
    font-size:0.7em;
    font-style:italic;
}
#content #errorReport #newPatch{
    color:red;
}
label {
    white-space:nowrap;
}
