ErrorDocument 404 /errors/404.php
RewriteEngine on
RewriteRule .* - [E=Cache-Control:no-cache]

RemoveHandler .py
AddType text/x-python .py

# remove `www.`
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://starcraft2coop.com/$1 [R=302,L]

# Extensionless URLs - prefer .html, fall back to .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Permanent Redirects for link shortening and Youtube links
Redirect 301 /mutators /resources/mutators
Redirect 301 /weeklymutations /resources/weeklymutations
Redirect 301 /rockslappingchampions /community/rockslappingchampions
Redirect 301 /gamespotlight /community/gamespotlight
Redirect 301 /mythbusters /community/mythbusters

# 19-apr-2020 menu reorganization
Redirect 301 /newplayer /guides/newplayer
Redirect 301 /resources/links /about/links
Redirect 301 /resources/downloads /tools/downloads
Redirect 301 /tournament /community/tournament
Redirect 301 /faq /about/faq
Redirect 301 /contact /about/contact

# 28-mar-2026 menu reorganization
Redirect 302 /resources/stats /about/stats

# we probably don't need hotlink protection; server can handle hotlinking

# RewriteCond %{HTTP_REFERER} !^$
# RewriteCond %{HTTP_REFERER} !^http://sc2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://sc2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://sc2coop.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://sc2coop.starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.sc2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.sc2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.sc2coop.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.sc2coop.starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://sc2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://sc2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://sc2coop.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://sc2coop.starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.sc2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.sc2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.sc2coop.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.sc2coop.starcraft2coop.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.starcraft2coop.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.starcraft2coop.com$      [NC]
# RewriteRule .*\.(jpg|gif|png)$ http://starcraft2coop.com/images/hotlink.bmp [R,NC]
#
